In [1]:
def loan_emi(amount):
  emi = amount / 12
  print('The EMI is ${}'.format(emi))

In [2]:
loan_emi(500000)

The EMI is $41666.666666666664

In [3]:
def loan_emi(amount, duration):
  emi = round((amount / duration) ,2 )
  print('The EMI is ${}'.format(emi))

In [4]:
loan_emi(500000, 1*12)

The EMI is $41666.67

In [5]:
loan_emi(500000, 2*12)

The EMI is $20833.33

In [10]:
def loan_emi(amount, duration):
  emi = round((amount / duration) ,2 )
  return emi

In [11]:
emi1 = loan_emi(500000, 1*12)

In [12]:
emi2 = loan_emi(1260000, 10*12)

In [13]:
emi1

41666.67

In [14]:
emi2

10500.0

In [23]:
def loan_emi(amount, duration, down_payment=0):
  loan_amount = amount - down_payment
  emi = round((loan_amount  / duration) ,2)
  return emi

In [24]:
emi1 = loan_emi(500000, 1*12, 100000)
emi1

33333.33

In [25]:
emi1

33333.33

In [26]:
emi2 = loan_emi(1260000, 10*12)

In [27]:
emi2

10500.0

In [41]:
def loan_emi(amount, duration, rate, down_payment=0):
  loan_amount = amount - down_payment
  emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
  return emi

In [42]:
loan_emi(500000, 1*12, 0.1/0.12, 0)

416955.86305691284

In [43]:
loan_emi(500000, 1*12, 0.1/12, 100000)

35166.35489200396

In [32]:
emi1 = loan_emi(
    amount=1260000,
    duration=8*12,
    rate=0.1/12,
    down_payment=3e5
)

In [33]:
emi1

14567.19753389219

In [34]:
emi2 = loan_emi(amount=1260000, duration=10*12, rate=0.08/12)

In [35]:
emi2

15287.276888775077

In [36]:
import math

In [37]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [38]:
print(math.floor(5.1))

5

In [44]:
def loan_emi(amount, duration, rate, down_payment=0):
  loan_amount = amount - down_payment
  emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
  emi = math.ceil(emi)
  return emi

In [45]:
emi1 = loan_emi(
    amount=500000,
    duration=1*12,
    rate=0.1/12,
    down_payment=100000
)

In [46]:
emi1

35167

In [47]:
emi2 = loan_emi(amount=1260000, duration=10*12, rate=0.08/12)

In [48]:
emi2

15288

In [53]:
if emi1 < emi2:
    print("Option 1 has the lower EMI: ${}".format(emi1))
else:
    print("Option 2 has the lower EMI: ${}".format(emi2))

Option 2 has the lower EMI: $15288

In [57]:
cost_of_house = 800000
home_loan_duration = 6*12
home_loan_rate = 0.07/12
home_down_payment = .25 * 800000

emi_house = loan_emi(amount=cost_of_house,
                     duration=home_loan_duration,
                     rate=home_loan_rate,
                     down_payment=home_down_payment)

emi_house

10230

In [58]:
cost_of_car = 60000
car_loan_duration = 1*12
car_loan_rate = .12/12

emi_car = loan_emi(amount=cost_of_car,
                   duration=car_loan_duration,
                   rate=car_loan_rate)

emi_car

5331

In [59]:
print("Shaun makes a total monthly payment of ${} towards loan repayment.".format(emi_house+emi_car))

Shaun makes a total monthly payment of $15561 towards loan repayment.